.photosList {
  column-count: 4;
  .card {
    page-break-inside: avoid;
  }
}

@media (min-width: 320px) and (max-width: 374px) {
  .photosList {
    column-count: 1;
  }
}

@media (min-width: 375px) and (max-width: 424px) {
  .photosList {
    column-count: 2;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .photosList {
    column-count: 3;
  }
}